# Specific files to exclude

# Local configuration files (sdk path, etc)
gradle.properties
local.properties

### Linux
!.gitignore
*~

### Windows
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### OSX
.DS_Store

### IntelliJ
*.iml
*.ipr
*.iws
.idea/

### Gradle
.gradle/
build/
